.content
    padding: 20px 20vh 0 20vh
    .flex-parent
        display: flex
        flex-wrap: wrap
        height: 100%
        .flex-child
            width: 33.3%
            height: 200px
            display: flex
            justify-content: space-around
            align-items: center
            justify-content: center
            .room
                color: gray
                .room-icon
                    width: 100px
                    height: 100px
                    transition: transform 1s
                .room-icon:hover
                    transform: scale(1.3)
                    cursor: pointer

